.card {
    background-color: #bce2f8;
    color: rgb(12, 12, 12);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    align-self: center;
  }

  @media (max-width: 600px) {
    .card {
      width: 80%;
      margin-left: 10%;
      margin-top: 8%;
      text-align: center;
    }
  }