/* DashboardComponent's private CSS styles */

.btn-on {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: top;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 270px;
  height: 270px;
}

.btn-off {
  background-color: rgb(231, 6, 6);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 270px;
  height: 270px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #805959;
  height: 610px;
  padding: 30px;
  margin: 0 100px 0 100px;
  overflow-y: auto;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

.footer {
  text-align:center;
  font-size: 15px;
  padding: 10px;
  color: white;
}

@media (max-width: 600px) {

  .btn-on {
    padding: 5px;
    font-size: 16px;
    width: 275px;
    height: 100px;
  }
  
  .btn-off {
    padding: 5px;
    font-size: 16px;
    width: 275px;
    height: 100px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    height: 500px;
    margin: 0 0 0 0;
    overflow-y: auto;
  }

  .grid-container > div {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .grid-container {
    min-width: 60px;
  }
}

::-webkit-scrollbar {
  display: none;
  }
