<ng2-slim-loading-bar></ng2-slim-loading-bar>
<simple-notifications [options]="options"></simple-notifications>
<app-loading [loading]="loading"></app-loading>

<div class="grid-container">
  <div *ngFor="let switch of switches">
    <button [ngClass]="{ 'btn-on': switch.isOn, 'btn-off': !switch.isOn  }" type="submit"
      (click)="changeSwitchStatus(switch)">
      {{switch.name}}
    </button>
  </div>
</div>

<div class="footer">
  <h4>&copy; Copyright IUnknown {{currentdate}}: All Rights Reserved</h4>
</div>